.hidden {
  opacity: 0;
}

/**
 * Pricing Page
**/

@keyframes drop {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.card-pricing:hover {
  box-shadow: 0 5px 35px #032745;
  transition: box-shadow .35s ease-in;

  /* box-shadow: 0 5px 35px rgba(255,255,255,0.3); */

}

.card-pricing {
  box-shadow: 0 0px 0px #888888;
  transition: box-shadow 5ms ease-in;

}

.row.justify-content-center > .col-lg-3.col-md-6:nth-of-type(1) .card-pricing{
  /* position: relative; */
  animation: drop 500ms 1;
  opacity: 1;
}

.row.justify-content-center > .col-lg-3.col-md-6:nth-of-type(2) .card-pricing{
  /* position: relative; */
  animation: drop 1s 1;
  opacity: 1;
}

.row.justify-content-center > .col-lg-3.col-md-6:nth-of-type(3) .card-pricing{
  /* position: relative; */
  animation: drop 1500ms 1;
  opacity: 1;
}

/*********************
 * 
 *
 * Register page
 *
 *
 *
*********************/

.card.card-signup {
  /* border-top-left-radius:unset; */
}

.card-signup > .card-signup-bg:nth-of-type(1) {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: -7px;
  left: -7px;
  border-radius: inherit;
  /* border-top-left-radius:revert; */

}

.card-signup > .card-signup-bg:nth-of-type(2) {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  right: -7px;
  bottom: -7px;
  border-radius: inherit;
  /* border-top-left-radius:revert; */

}

/* .card-signup-bg::before {
  content: "";
  z-index: -3;
  position: absolute;

  width: 200%;
  height: 200%;
  left: 100%;
  top: 0px;

  transform: rotate(-45deg);
  background-color: #9c27b0;
  animation: borderize 2s linear 1;

} */

.card-signup-bg::after {
  opacity: 1;
  content: "";
  position: absolute;
  /* display: block; */
  left: -40%;
  top: -40%;
  z-index: -2;
  height: 200%;
  width: 250%;
  transform: rotate(-45deg);
  /* overflow: hidden; */
  background: linear-gradient(to right, #9c27b0 20%, #9c27b0 40%, #b357c4 50%, #b357c4 55%, #9c27b0 70%, #9c27b0 100%);
  background-size: 200% auto;

  animation-name: borderize, shine;
  animation-duration: 750ms, 3s;
  animation-delay: 2s, 0;
  animation-timing-function: linear, linear;
  animation-iteration-count: 1, infinite;

}

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }

@keyframes borderize {
  from {
    top: 0px;
    left: 200%;
  }
  to {
    top: -70%;
    left: -70%;
  }
}

.card-login > .card-signup-bg:nth-of-type(1) {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 7px;
  left: -7px;
  border-radius: inherit;
  /* border-top-left-radius:revert; */

}

.card-login > .card-signup-bg:nth-of-type(2) {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  right: -7px;
  bottom: 7px;
  border-radius: inherit;
  /* border-top-left-radius:revert; */

}

.card-login {
  z-index: 1;
}

.paginate_button {
  margin-left: 5px;
}


/*********************
 * 
 *
 * Dashboard form
 *
 *
 *
*********************/

.highlight-border {
  /* overflow: hidden; */
}

.sidebar-border::before {
  display: inline;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(0deg, rgba(24,30,50,1) 0%, rgba(0,212,255,0) 100%);
}

.sidebar-border {
  display: inline;
  content: "";
  position: absolute;
  width: 3px;
  height: 150%;
  overflow: hidden;
  /* overflow:scroll; */
  /* z-index:-1; */
  /* box-sizing: border-box; */

  /* height: calc(100% - 6px);
  width: 3px;
  top: 3px;
  position: relative;
  display:inline-block; */
}

.sidebar-border::after{
  position: absolute;
  width: 1000px;
  height: 300px;
  top: 300px;
  left: -300px;

  background: linear-gradient(0deg, rgba(24,30,50,0) 33%, rgb(117, 149, 255) 50%, rgba(0,212,255,0) 66%);
  content: "";
  z-index: -2;
  animation: shine 25s linear infinite;
}

.highlight-border::after{
  position: absolute;
  width: calc(1000%);
  height: 100px;
  top: 50%;
  left: -35%;

  background: linear-gradient(0deg, rgba(24,30,50,0) 33%, rgb(117, 149, 255) 50%, rgba(0,212,255,0) 66%);
  content: "";
  z-index: -2;
  animation: shine 50s linear infinite;
}

.highlight-border{
  position: absolute;
  box-sizing:inherit;
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: -4px;
  left: -4px;
  overflow: hidden;
  border-radius: inherit;

  z-index: -1;
  /* animation: opacityInOut 20s linear infinite; */

}

@keyframes opacityInOut {
  0% {
    opacity: 0;
  }
  10%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }

}

@keyframes shine {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(359deg);
  }

}

/*********************
 * 
 *
 * Logout
 *
 *
 *
*********************/

.dark-bg {
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: black;
  opacity: .2;
}

.centered-card {
  width: 100vw;
  height: 100vh;
  /* display: block; */
  top: 0;
  left: 0;
  position: absolute;
}

.centered-card > .row {
  width: 100%;
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.centered-card > .row > .col-md-2 {
  left: 50%;
  transform: translate(-50%, 0%);
  
}

.centered-card .card {
  /* transform: rotate(0); */
  animation: twitch 3500ms linear 1;
}

@keyframes twitch {
  1% {
    transform: rotate(10deg);
  }
  3% {
    transform: rotate(-10deg);
  }
  5% {
    transform: rotate(10deg);
  }
  7% {
    transform: rotate(-10deg);
  }
  9% {
    transform: rotate(10deg);
  }
  11% {
    transform: rotate(-10deg);
  }
  13% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}