<div class="col-md-6">
    <div class="form-check horizontal-checkbox {% if field.errors %}has-error{% endif %}">
      <label class="md-label-floating form-check-label {% if style.hide_label %}sr-only{% endif %}">
        <input class="form-check-input" type="checkbox" name="{{ field.name }}" value="true" {% if field.value %}checked{% endif %}>
        {% if field.label %}{{ field.label }}{% endif %}
        <span class="form-check-sign">
          <span class="check"></span>
        </span>
      </label>
        {% if field.errors %}
          {% for error in field.errors %}
        <div class="form-group label-floating has-danger">
          <label class="control-label help-block">{{ error }}</label>
        </div>
          {% endfor %}
        {% endif %}

        {% if field.help_text %}
        <div class="form-group label-floating has-success">
          <label class="control-label help-block">{{ field.help_text|safe }}</label>
        </div>
        {% endif %}
    </div>
</div>