{% load static %}
<div class="sidebar" data-color="azure" data-background-color="default">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
        <div class="logo" align="center">
            <a href="https://www.hosnet.io" class="logo-inveterate-icon">
          <img src="{% static 'img/logo_icon.png' %}" />
        </a>
            <a href="https://www.hosnet.io" class="logo-inveterate-text">
                <img src="{% static 'img/logo_text.png' %}" class="visible-on-sidebar-regular" />
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
            {% for page in pages %}
                <li class="nav-item {% if request.resolver_match.url_name == page %}active{% endif %}">
                    {% with "dashboard:"|add:page as page_url %}
                    <a class="nav-link" href="{% url page_url %}">
                        <i class="material-icons">view_quilt</i>
                        <p> {{ page }}</p>
                    </a>
                    {% endwith %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>