{% extends 'base.html' %}
{% load static %}
{% block head_title %}Inveterate Dashboard{% endblock %}
{% block styles %}
    {% block dashboard_tyles %}
    {% endblock %}
{% endblock %}
{% block body %}
    <body class="dark-edition">
    <div class="wrapper">
        {% load dashboard_nav %}
        {% dashboard_nav %}
        <div class="main-panel">
            {% load topbar_nav %}
            {% topbar_nav %}
            <div class="content">
                <div class="container-fluid">
                    {% block dashboard_table %}
                        <div class="row">
                            <div class="col">
                                <div class="card ">
                                    <div class="card-header card-header-primary card-header-text">
                                        <div class="card-text">
                                            <h4 class="card-title">{{ request.resolver_match.url_name }}</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="material-datatables">
                                            <table id="datatables" class="table table table-no-bordered table-hover"
                                                   cellspacing="0"
                                                   width="100%" style="width:100%">
                                                <thead>
                                                <tr>
                                                    {% for key, value in headers.items %}
                                                        <th data-data="{{ value.0 }}"
                                                            data-name="{{ value.1 }}">{{ key }}</th>
                                                    {% endfor %}
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="card-footer text-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                    {% block dashboard_details %}
                        <div class="row">
                            <div class="col">
                                <div class="card ">
                                    <div class="card-header card-header-tabs card-header-rose">
                                        <div class="nav-tabs-navigation">
                                            <div class="nav-tabs-wrapper">
                                                <ul class="nav nav-tabs nav-fill" data-tabs="tabs">
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="details-tab" href="#details"
                                                           data-toggle="tab">
                                                            <i class="material-icons">build</i> Details
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="create-tab" href="#create"
                                                           data-toggle="tab">
                                                            <i class="material-icons">feed</i>
                                                            Create
                                                        </a>
                                                    </li>
                                                    {% block dashboard_extra_tabs %}
                                                    {% endblock %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body ">
                                        <div class="tab-content">
                                        <div id="create" class="tab-pane fade show active">
                                                <form id="form-create" class="form-horizontal">
                                                    {% csrf_token %}
                                                    <div id="form-create-html">
                                                    </div>
                                                    <div class="card-footer text-right">
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div id="details" class="tab-pane fade">
                                                <form id="form-detail" class="form-horizontal">
                                                    {% csrf_token %}
                                                    <div id="form-detail-html">
                                                    </div>
                                                    <div class="card-footer text-right">
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                            {% block dashboard_extra_tabs_content %}
                                            {% endblock %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
            {% load footer %}
            {% footer %}
        </div>
    </div>
    </body>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/core/jquery.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap-material-design.min.js' %}"></script>
    <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="{% static 'js/plugins/bootstrap-selectpicker.js' %}"></script>
    <!-- Control Center for Material  parallax effects, scripts for the example pages etc -->
    <script src="{% static 'js/material-dashboard.min.js' %}?v=1.0.1" type="text/javascript"></script>
    <script>

        var api_url = "{{ api }}";
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        var table = $('#datatables').DataTable({
            'ajax': {
                "url": api_url + '?format=datatables',
                "deferLoading": 600,
            },
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            },
            "columnDefs": [{
                "targets": '_all',
                "defaultContent": ""
            }],

        });

        var current_id = undefined;
        var current_tab = "create-tab";

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            current_tab = e.target.id;
        });

        function get_form(row, form) {
            let url;
            let type;
            let data;
            let row_data;
            if (!form) {
                type = "GET";
                data = {format: 'form'};
                if (row) {
                    row_data = row.data();
                    url = api_url + row_data["id"] + '/';
                    current_id = row_data["id"];
                } else {
                    let pk = '{{ pk }}'
                    url = api_url + pk;
                    console.log(pk);
                    if (pk === '') {
                        current_id = undefined;
                    } else {
                        current_id = pk;
                        let hash = window.location.hash;
                        hash && $('a[href="' + hash + '"]').tab('show');
                    }
                }
            } else {
                data = form.serialize();
                if (current_id) {
                    url = api_url + current_id + '/?format=form';
                    type = "PATCH";
                } else {
                    url = api_url + '?format=form'
                    type = "POST";
                }
            }
            $.ajax({
                url: url,
                headers: {'X-CSRFToken': csrftoken},
                type: type,
                data: data,
                dataType: 'html',
                success: function (html) {
                    if (current_id) {
                        $('#form-detail-html').html(html);
                    }
                    else {
                        $('#form-create-html').html(html);
                    }
                    $('.selectpicker').selectpicker();
                    if (type !== "GET") {
                        table.ajax.reload();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#form-detail-html').html(jqXHR.responseText);
                    $('.selectpicker').selectpicker();
                }
            })
        }

        $("#form-detail").submit(function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            get_form(null, $(this));
        });

        $("#form-create").submit(function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            get_form(null, $(this));
            $('a[href="#details"]').trigger('click');
        });



        table.on('click', 'tr', function () {
            let row = table.row(this)
            get_form(row);
            if (current_tab !== "console-tab") {
                $('a[href="#details"]').trigger('click');
            }
        });

        $(document).ready(function () {
            get_form();
        });
    </script>
    {% block dashboard_scripts %}
    {% endblock %}
{% endblock %}

