{% extends 'base.html' %}
{% load static %}
{% block body %}
    <body class="dark-edition off-canvas-sidebar">
    {% load topbar_nav %}
    {% topbar_nav %}
    <div class="wrapper wrapper-full-page">
        <div class="page-header pricing-page header-filter"
             style="background-image: url('{% static 'img/technology-background-1632715-1918x1281.jpg' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2 class="title">Pick the best plan for you</h2>
                        <h5 class="description">All IPv6 only plans come with a NATed ipv4 address. Domain and port
                            forwarding options are available on request.</h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-pricing hidden">
                            <h6 class="card-category"> LXC Lite</h6>
                            <div class="card-body">
                                <div class="card-icon icon-rose ">
                                    <i class="material-icons">home</i>
                                </div>
                                <h3 class="card-title">$2 Monthly</h3>
                                <div class="col-sm-11 ml-auto card-description" align="left">
                                    <i class="fa fa-circle text-info"></i> 8GB SSD Storage<br>
                                    <i class="fa fa-circle text-info"></i> 1024 MB RAM<br>
                                    <i class="fa fa-circle text-info"></i> 500 GB Bandwidth<br>
                                    <i class="fa fa-circle text-info"></i> 1 vCPU Cores<br>
                                    <i class="fa fa-circle text-info"></i> 1 IPv6<br>
                                </div>
                            </div>
                            <div class="card-footer justify-content-center ">
                                <a href="/account/signup" class="btn btn-round btn-rose">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-pricing hidden">
                            <h6 class="card-category"> LXC Basic</h6>
                            <div class="card-body">
                                <div class="card-icon icon-primary ">
                                    <i class="material-icons">business</i>
                                </div>
                                <h3 class="card-title">$3 Monthly</h3>
                                <div class="col-sm-11 ml-auto card-description" align="left">
                                    <i class="fa fa-circle text-info"></i> 16GB SSD Storage<br>
                                    <i class="fa fa-circle text-info"></i> 2048 MB RAM<br>
                                    <i class="fa fa-circle text-info"></i> 500 GB Bandwidth<br>
                                    <i class="fa fa-circle text-info"></i> 2 vCPU Cores<br>
                                    <i class="fa fa-circle text-info"></i> 1 IPv6<br>
                                </div>
                            </div>
                            <div class="card-footer justify-content-center ">
                                <a href="/account/signup" class="btn btn-round btn-rose">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-pricing hidden">
                            <h6 class="card-category"> LXC Plus</h6>
                            <div class="card-body">
                                <div class="card-icon icon-danger ">
                                    <i class="material-icons">account_balance</i>
                                </div>
                                <h3 class="card-title">5$</h3>
                                <div class="col-sm-11 ml-auto card-description" align="left">
                                    <i class="fa fa-circle text-info"></i> 32GB SSD Storage<br>
                                    <i class="fa fa-circle text-info"></i> 4096 MB RAM<br>
                                    <i class="fa fa-circle text-info"></i> 1000 GB Bandwidth<br>
                                    <i class="fa fa-circle text-info"></i> 4 vCPU Cores<br>
                                    <i class="fa fa-circle text-info"></i> 1 IPv6<br>
                                </div>
                            </div>
                            <div class="card-footer justify-content-center ">
                                <a href="/account/signup" class="btn btn-round btn-rose">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% load footer %}
            {% footer %}
        </div>
    </div>
    </body>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/core/jquery.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap-material-design.min.js' %}"></script>
    <script src="{% static 'js/material-dashboard.min.js' %}?v=1.0.1" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            md.checkFullPageBackgroundImage();
            setTimeout(function () {
                $('.card-pricing').removeClass('hidden');
            }, 700);
        });
    </script>
{% endblock %}
