{% extends 'dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block dashboard_tyles %}
    <link rel="stylesheet" href="{% static 'xtermjs/xterm.css' %}?version=4.7.0-3"/>
    <link rel="stylesheet" href="{% static 'xtermjs/style.css' %}?version=4.7.0-3"/>
{% endblock %}


{% block dashboard_extra_tabs %}
    <li class="nav-item">
        <a class="nav-link" id="console-tab" href="#console" data-toggle="tab">
            <i class="fa fa-terminal"
               style="font-size: 26px; vertical-align: middle;"></i> Console
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="billing-tab" href="#billing" data-toggle="tab">
            <i class="material-icons">feed</i> Billing
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="support-tab" href="#support" data-toggle="tab">
            <i class="material-icons">feed</i> Support
        </a>
    </li>
{% endblock %}

{% block dashboard_extra_tabs_content %}
    <div id="console" class="tab-pane fade">
    </div>
    <div id="billing" class="tab-pane fade">
    </div>
    <div id="support" class="tab-pane fade">
        All of our communications are handled through our <a href="https://discuss.hosnet.io">community discussion
        forum.</a>
        Click the button below to contact the support staff.
        <a href="https://discuss.hosnet.io" class="btn btn-info">Get Support</a>
    </div>
{% endblock %}

{% block dashboard_scripts %}
    <script src="{% static 'xtermjs/xterm.js' %}?version=4.7.0-3"></script>
    <script src="{% static 'xtermjs/xterm-addon-fit.js' %}?version=4.7.0-3"></script>
    <script src="{% static 'xtermjs/util.js' %}?version=4.7.0-3"></script>
    <script src="{% static 'xtermjs/main.js' %}?version=4.7.0-3" defer></script>

    <script>
        var PVE = {};
        var vmid,
            vmname,
            nodename,
            console_type;
        var terminal_id = undefined;

        function create_console_area() {
            $.ajax({
                            url: "/api/console/",
                            headers: {'X-CSRFToken': csrftoken},
                            type: "POST",
                            data: {service_id: current_id},
                            //dataType: 'html',
                            success: function (data) {
                                $('#console').html('<div id="status_bar"></div><div id="wrap"><div id="terminal-container"></div></div>');
                                PVE.UserName = data.username;
                                PVE.CSRFPreventionToken = data.token;
                                console_type = data.type;
                                nodename = data.node;
                                vmid = data.vmid;
                                createTerminal();
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                $('#console').html(jqXHR.responseText);
                            }
                        });
        }


        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            if (current_id) {
                if (current_id !== terminal_id) {
                    if (state === states.connected) {
                        stopTerminal();
                    }
                    terminal_id = current_id;
                }
                if (e.target.id === "console-tab") {
                    if (state !== states.connected) {
                        create_console_area();
                    }
                }
                if (e.target.id === "billing-tab") {
                    $.ajax({
                        url: "/services/billing/",
                        headers: {'X-CSRFToken': csrftoken},
                        type: "POST",
                        data: {service_id: current_id},
                        dataType: 'html',
                        success: function (html) {
                            $('#billing').html(html);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $('#billing').html(jqXHR.responseText);
                        }
                    });
                }
            }
        })

        table.on('click', 'tr', function () {
            if (current_tab === "console-tab") {
                if (current_id !== terminal_id) {
                    if (state === states.connected) {
                        stopTerminal();
                    }
                    terminal_id = current_id;
                    create_console_area();
                }
            }
        });
    </script>
{% endblock %}