{% extends 'store_base.html' %}
{% load static %}
{% load account_tags %}
{% load i18n %}
{% load bootstrap4 %}
{% block body %}
    <div class="page-header register-page header-filter" filter-color="black"
         style="background-image: url('{% static 'img/light-explosion-1189346-1919x1275.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-md-5 ml-auto mr-auto">
                    <div class="card card-signup">
                            <div class="card-signup-bg"></div>
                            <div class="card-signup-bg"></div>
                            <h2 class="card-title text-center">Register</h2>
                            <div class="card-body">
                                        <form id="signup_form" method="post" action="{% url "account_signup" %}"
                                            autocapitalize="off" {% if form.is_multipart %}
                                            enctype="multipart/form-data"{% endif %}>
                                            {% csrf_token %}
                                            {% bootstrap_form form %}
                                            {% if redirect_field_value %}
                                                <input type="hidden" name="{{ redirect_field_name }}"
                                                    value="{{ redirect_field_value }}"/>
                                            {% endif %}
                                            <div class="text-center">
                                                {% buttons %}
                                                    <div class="form-actions">
                                                        <button class="btn btn-primary">{% trans "Sign up" %}</button>
                                                    </div>
                                                    <p class="login-signup">
                                                        {% trans "Already have an account?" %}
                                                        <a href="{% urlnext 'account_login' %}">{% trans "Log in" %}</a>
                                                    </p>
                                                {% endbuttons %}
                                            </div>
                                            <input type="hidden" name="next" value="{{ next }}"/>
                                        </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        {% load footer %}
        {% footer %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/core/jquery.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap-material-design.min.js' %}"></script>
    <script src="{% static 'js/material-dashboard.min.js' %}?v=1.0.1" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            md.checkFullPageBackgroundImage();
        });
    </script>
{% endblock %}
