// // from bs mixins/buttons button-variant
@mixin button-variant($color, $background, $focus-background, $active-background, $border, $focus-border, $active-border) {
  color: $color;
  background-color: $background;

  @include hover {
    color: $color;
    background-color: $focus-background;
    border-color: $focus-border;
  }

  &:focus,
  &.focus,
  &:hover{
    color: $color;
    background-color: $focus-background;
    border-color: $focus-border;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle,
  .show > &.dropdown-toggle {
    color: $color;
    background-color: $focus-background;
    border-color: $focus-border;
    @include shadow-2dp-color($background);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: $active-background;
      border-color: $active-border;
    }
  }

  // when it is an icon, kill the active bg on open dropdown, but stabilize on hover
  .open > &.dropdown-toggle.md-btn-icon {
    color: inherit;
    background-color: $background;

    // leave hover on with the lighter focus color
    &:hover {
      background-color: $focus-background;
    }
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
    @include hover {
      background-color: $background;
      border-color: $border;
    }
  }
}

@mixin flat-button-variant(
  $color,
  $border: $btn-border,
  $focus-border: $btn-focus-bg,
  $active-border: $btn-active-bg
) {
  $background: $btn-bg;
  $focus-background: $btn-focus-bg;
  $active-background: $btn-active-bg;

  @include button-variant($color,
    $background,
    $focus-background,
    $active-background,
    $border,
    $focus-border,
    $active-border);

  // inverse color scheme
  .bg-inverse & {
    $focus-background: $inverse-btn-focus-bg;
    $focus-border: $inverse-btn-focus-bg;

    $active-background: $inverse-btn-active-bg;
    $active-border: $inverse-btn-active-bg;

    @include button-variant($color,
      $background,
      $focus-background,
      $active-background,
      $border,
      $focus-border,
      $active-border);
  }

  // reverse the above for links
  &.btn-link {
    background-color: transparent;
  }
}

@mixin flat-button-color() {
  @include flat-button-variant($btn-color);

  // flat bg with text color variations
  &.btn-primary {
    @include flat-button-variant($btn-primary-bg);
  }
  &.btn-light {
    @include flat-button-variant($btn-primary-bg);
  }
  &.btn-secondary {
    @include flat-button-variant($btn-secondary-color);
  }
  &.btn-info {
    @include flat-button-variant($btn-info-bg);
  }
  &.btn-success {
    @include flat-button-variant($btn-success-bg);
  }
  &.btn-warning {
    @include flat-button-variant($btn-warning-bg);
  }
  &.btn-danger {
    @include flat-button-variant($btn-danger-bg);
  }
}

@mixin outline-button-color() {
  &.btn-outline,
  &.btn-outline-primary,
  &.btn-outline-secondary,
  &.btn-outline-info,
  &.btn-outline-success,
  &.btn-outline-warning,
  &.btn-outline-danger {
    border-color: currentColor;
    border-style: solid;
    border-width: 1px;
  }

  // flat bg with text and border color variations
  &.btn-outline {
    @include flat-button-variant($btn-color, $btn-color, $btn-color, $btn-color);
  }
  &.btn-outline-primary {
    @include flat-button-variant($btn-primary-bg, $btn-primary-bg, $btn-primary-bg, $btn-primary-bg);
  }
  &.btn-outline-secondary {
    @include flat-button-variant($btn-secondary-color, $btn-secondary-color, $btn-secondary-color, $btn-secondary-color);
  }
  &.btn-outline-info {
    @include flat-button-variant($btn-info-bg, $btn-info-bg, $btn-info-bg, $btn-info-bg);
  }
  &.btn-outline-success {
    @include flat-button-variant($btn-success-bg, $btn-success-bg, $btn-success-bg, $btn-success-bg);
  }
  &.btn-outline-warning {
    @include flat-button-variant($btn-warning-bg, $btn-warning-bg, $btn-warning-bg, $btn-warning-bg);
  }
  &.btn-outline-danger {
    @include flat-button-variant($btn-danger-bg, $btn-danger-bg, $btn-danger-bg, $btn-danger-bg);
  }
}

@mixin raised-button-variant($color, $background, $border) {
  $focus-background: contrast-color(
    $background,
    darken($background, 3%),
    lighten($background, 3%)
  );
  //$focus-background: darken($background, 10%);  // default bootstrap
  $focus-border: darken($border, 12%);

  $active-background: $focus-background;
  //$active-background: darken($background, 17%);
  $active-border: darken($border, 25%);

  @include button-variant($color,
    $background,
    $focus-background,
    $active-background,
    $border,
    $focus-border,
    $active-border);

    @include shadow-2dp-color($background);

    &:focus,
    &:active,
    &:hover{
      // remove this line if you want black shadows
      @include button-shadow-color($background);
    }
}

@mixin raised-button-color() {
  &.btn-primary {
    @include raised-button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border-color);
  }
  &.btn-light {
    @include raised-button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border-color);
  }
  &.btn-secondary {
    @include raised-button-variant($btn-default-color, $btn-default-bg, $btn-default-border-color)
  }
  &.btn-info {
    @include raised-button-variant($btn-info-color, $btn-info-bg, $btn-info-border-color);
  }
  &.btn-success {
    @include raised-button-variant($btn-success-color, $btn-success-bg, $btn-success-border-color);
  }
  &.btn-warning {
    @include raised-button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border-color);
  }
  &.btn-danger {
    @include raised-button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border-color);
  }
  &.btn-rose {
    @include raised-button-variant($btn-rose-color, $btn-rose-bg, $btn-rose-border-color);
  }
  &,
  &.btn-default{
    @include raised-button-variant($btn-default-color, $btn-default-bg, $btn-default-border-color);
  }
}

@mixin social-buttons() {
  &.btn-facebook {
    @include raised-button-variant($white, $social-facebook, $social-facebook);
  }
  &.btn-twitter {
    @include raised-button-variant($white, $social-twitter, $social-twitter);
  }
  &.btn-pinterest {
    @include raised-button-variant($white, $social-pinterest, $social-pinterest);
  }
  &.btn-google {
    @include raised-button-variant($white, $social-google, $social-google);
  }
  &.btn-linkedin {
    @include raised-button-variant($white, $social-linkedin, $social-linkedin);
  }
  &.btn-dribbble {
    @include raised-button-variant($white, $social-dribbble, $social-dribbble);
  }
  &.btn-github {
    @include raised-button-variant($white, $social-github, $social-github);
  }
  &.btn-youtube {
    @include raised-button-variant($white, $social-youtube, $social-youtube);
  }
  &.btn-instagram {
    @include raised-button-variant($white, $social-instagram, $social-instagram);
  }
  &.btn-reddit {
    @include raised-button-variant($white, $social-reddit, $social-reddit);
  }
  &.btn-tumblr {
    @include raised-button-variant($white, $social-tumblr, $social-tumblr);
  }
  &.btn-behance {
    @include raised-button-variant($white, $social-behance, $social-behance);
  }
  &.btn-vimeo {
  @include raised-button-variant($white, $social-vimeo, $social-vimeo);
  }
  &.btn-slack {
    @include raised-button-variant($white, $social-slack, $social-slack);
  }
}

@mixin undo-bs-tab-focus() {
  // clear out the tab-focus() from BS
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 0;
    }
  }
}

@mixin btn-styles($btn-color) {

    // remove this line if you want black shadows
    @include shadow-2dp-color($btn-color);

    &,
    &:hover,
    &:focus,
    &:active,
    &.active,
    &:active:focus,
    &:active:hover,
    &.active:focus,
    &.active:hover,
    .open > &.dropdown-toggle,
    .open > &.dropdown-toggle:focus,
    .open > &.dropdown-toggle:hover {
      background-color: $btn-color;
      color: $white;
    }

    &:focus,
    &:active,
    &:hover{
      // remove this line if you want black shadows
      @include button-shadow-color($btn-color);
    }

  &.disabled,
  &:disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        box-shadow: none;
    }
  }

  &.btn-simple{
      background-color: transparent;
      color: $btn-color;
      box-shadow: none;

      &:hover,
      &:focus,
      &:active{
          background-color: transparent;
          color: $btn-color;
      }
  }

}



@mixin disabled() {
  fieldset[disabled][disabled] &,
  &.disabled,
  &:disabled,
  &[disabled] {
    @content;
  }
}
