// Google Maps variables

$google-map-height:                 280px !default;
$google-map-big-height:             420px !default;
$google-map-margin-top:             15px !default;
$fullscreen-map-height:             calc(100vh - 70px) !default;
$fullscreen-map-margin-top:         70px !default;
